* {
  padding: 0;
  margin: 0;
}

body,
svg {
  background-image: url(img/gallery/background/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  width: 100%;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
  margin: 0;
}
