.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

#about {
  padding-top: 370px;
}
